.jumbotron {
    background-repeat: no-repeat;
}

.container {
    align-items: center;
    justify-content: center;
}

input, select {
    width: 250px;
    height: 25px;
    margin: 2px;
    text-align: center;
    text-align-last: center;
    align-items: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tablink {
    font-weight: bold;
    border-radius: 4px;
}

input::-webkit-file-upload-button {
    background-color: peru;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
    background-color: gray; 
    border-color: black;
    color: white;
  }